.el-popper.el-popover.is-dark.common-popper {
  padding: 0;
  border: none;
}
* {
  ::-webkit-scrollbar {
    display: none;
  }
}

.common-dialog.el-dialog {
  border-radius: 10px;
  .el-dialog__header {
    padding: 10px 24px;

    .el-dialog__title {
      font-size: 16px;
    }
  }

  .el-dialog__headerbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
  }

  .el-dialog__body {
    padding: 0;
  }
}
